/* font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  /* background-color: hsl(209, 100%, 93%); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.card {
  width: 100%;
  /* max-width: 1200px; */
  font-family: "Space Mono", monospace;
  /* border: 1px solid red; */
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
}
.card-content {
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: 0.2fr 1fr 1.8fr;
  /* margin: 10px; */
}

/* .card-content > div {
  border: 1px solid green;
} */

.maindiv {
  grid-column: 2/3;
  grid-row: 2/4;
  width: 100%;
}
.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid hsl(240, 90%, 96%);
  border-bottom: 1px solid hsl(240, 90%, 96%);
}
/* .logo {
  border: 1px solid black;
} */
.inputandnbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid hsl(240, 90%, 96%);
  color: hsl(263, 20%, 45%);
}
.input-box {
  width: 50%;
}
.notification-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.inp {
  width: 100%;
  padding: 12px 30px;
  border-radius: 4px;
  /* box-sizing: border-box; */
  /* background-color: #eff0ff; */
  border: none;
  outline: none;
  background: url(/image/search.svg) no-repeat 10px hsl(236, 100%, 97%);
  background-size: 20px;
}
.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-img-box {
  display: flex;
  align-items: center;
}
.menu-container {
  display: grid;
  place-items: center;
  padding: 0 30px;
  border-right: 1px solid hsl(240, 90%, 96%);
}
.menu {
  width: 100%;
  /* display: grid; */
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  /* padding: 20px 0; */
}
.menu-box {
  display: flex;
  align-items: center;
  color: #7b64a4;
}
.active {
  color: hsl(237, 69%, 60%);
}

/* main box */
.inside-maindiv {
  width: 100%;
  padding: 20px;
}
.course-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course {
  background-color: hsl(236, 100%, 97%);
  padding: 7px;
  border-radius: 10px;
  color: hsl(238, 13%, 56%);
}

#active-course {
  background-color: #535bdf;
  color: hsl(0, 0%, 100%);
}
.first-big-box {
  margin-top: 50px;
  width: 100%;
  /* border: 1px solid red; */
}
.box-left {
  display: flex;
  gap: 10px;
}
.ibox-left-1 {
  width: 52%;
  height: 270px;
  background-color: hsl(236, 100%, 97%);
  border-radius: 10px;
  padding: 10px;
  display: flex;
}
.ibox-left-2 {
  width: 19%;
  height: 270px;
  background-color: hsl(236, 100%, 97%);
  border-radius: 10px;
  padding: 15px;
  /* display: flex; */
}

.Design {
  font-size: 22px;
  margin-bottom: 20px;
  color: hsl(237, 27%, 30%);
}
.personimg {
  display: flex;
  align-items: center;
}
.timeimg-1 {
  margin-bottom: 70px;
}
.imgtime {
  display: flex;
  justify-content: space-between;
}
.timee {
  padding-top: 10px;
}
.textarticle {
  font-size: 18px;
  color: hsl(237, 27%, 30%);
}
span {
  color: hsl(237, 69%, 60%);
  font-weight: bold;
}
.box-left-one-text-box {
  margin-bottom: 10px;
}

/* four box */
.box-right {
  width: 32%;
  height: 270px;
  border-radius: 10px;
  margin-left: 50px;
  /* border: 1px solid red; */
}
.box-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 122px 123px;
  gap: 20px;
  color: hsl(237, 27%, 30%);
}
.grid-img-box {
  display: grid;
  place-items: center;
  background-color: hsl(236, 100%, 97%);
  border-radius: 10px;
}
/* .box-right-grid > div {
  background-color: #eff0ff;
} */
.two-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 430px;
}
#theme {
  grid-column: 2/3;
}

/* middle container */
.middle-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.top-teacher-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  color: hsl(263, 17%, 48%);
}

/* second big box */

.second-big-box {
  margin-top: 10px;
}
.inside-second-big-box {
  width: 100%;
  display: flex;
}

.second-left-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 170px 170px;
  width: 65%;
  gap: 22px;
}
.div1 {
  grid-column: 1/3;
  grid-row: 1/3;
  background: linear-gradient(
    to right,
    hsl(237, 77%, 64%),
    hsl(237, 68%, 59%),
    hsl(237, 61%, 54%),
    hsl(236, 54%, 47%)
  );
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 210px;
}
.div-text {
  font-size: 27px;
  color: hsl(0, 0%, 90%);
}

.bottomdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textdate2 {
  color: hsl(0, 0%, 100%);
}
.description {
  color: hsl(0, 0%, 80%);
}

.timediv {
  background-color: #32356a;
  color: hsl(0, 0%, 100%);
  padding: 5px;
  border-radius: 10px;
}
.two-same-divs {
  background-color: #5a61ea;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 8px;
  color: hsl(0, 0%, 90%);
}

.smalltext {
  font-size: 13px;
  color: hsl(0, 0%, 80%);
}
.nametext {
  font-size: 14px;
  color: hsl(0, 0%, 90%);
}
.pname {
  color: hsl(237, 27%, 30%);
}
.second-right-box {
  width: 35%;
  margin-left: 50px;
  /* border: 1px solid red; */
}
.isr-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 12px;
}

/* .item {
  border: 1px solid red;
} */

.point {
  font-size: 18px;
  color: hsl(238, 41%, 54%);
}

#last {
  border-bottom: 0;
}

/* bottom left side */
.inside-bbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booknatext {
  display: flex;
  align-items: center;
}
.digits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.bar-text {
  margin-bottom: 5px;
}

.bar-text-container {
  margin-top: 20px;
}

.container-bbox {
  display: grid;
  place-items: center;
  /* padding: 0 5px; */
  border-right: 1px solid hsl(240, 90%, 96%);
  border-top: 1px solid hsl(240, 90%, 96%);
  color: hsl(262, 26%, 52%);
}
